<!doctype html>

<head>
    <meta charset="UTF-8">
    <title>entry page</title>
    <link rel="stylesheet" href="splash.css">

</head>

<body>
    <div class="class">
        <div id="div1">
            <div id="div1img">
                <img src="icon.png">
            </div>
            <span id="www">A easy way to manage your life</span>
        </div>
        <div class="nav">
            <div id="a1"> <a href="">sign up</a></div>
            <div id="a2"><a href="">log in</a></div>
        </div>
        <div id="div2">
            <img src="image.png">
        </div>
        <div id="div3">
            <input class="btn-style" type="submit" value="log in with twitter">
        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/splash.js"></script>

</html>